section.resume-section {
  border-bottom: 1px solid $gray-300;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 1vh;
    .resume-item {
      .resume-content {}
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

.carousel-caption {
  background-color: rgba($color: #000000, $alpha: 0.6);
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 10px;
  pointer-events: none;
}